<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985684479696-2ddephk24od56t31p6spbk7kh5o9rjqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985684479696-2ddephk24od56t31p6spbk7kh5o9rjqs</string>
	<key>API_KEY</key>
	<string>AIzaSyCR4HfXrZA0Z0oWnF9T5qMpXzM4pNYwTgI</string>
	<key>GCM_SENDER_ID</key>
	<string>985684479696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dana.Taskero</string>
	<key>PROJECT_ID</key>
	<string>taskero-2002</string>
	<key>STORAGE_BUCKET</key>
	<string>taskero-2002.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:985684479696:ios:b60b56c28f7f6a9da118d5</string>
</dict>
</plist>
